html, body{
    margin: auto;
    padding: 0;
    background-color: lightyellow;
    background-image: url('image/background.jpg');
    text-align: center;
    background-size: auto;
    color: white;
}

canvas {
    margin: auto;
    display: block;
    /* border: 5px solid skyblue;
    border-radius: 10px; */
}

h1 {
    color: blue;
}

/* .sb{
    transform: scale(3);
} */